src/main/mule/test_sample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="27e24dee-a6ce-40aa-ac9a-ba4701949d55" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="test_sampleFlow" doc:id="62354d48-a128-4fb0-b472-fc0a65a91e3e" >
		<http:listener doc:name="Listener" doc:id="087145f1-ccb9-4628-bcf5-e5f01148ae33" config-ref="HTTP_Listener_config" path="/sample"/>
		<logger level="INFO" doc:name="Logger" doc:id="5f67c7be-5f19-4187-9dcc-01c3b64152b3" message='#["Received the request and processing it."]'/>
		<ee:transform doc:name="Transform Message" doc:id="d7778cc0-adb0-499a-81d4-9f6b411a246e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	Message: "Hello World"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
